---
import { Image } from "astro:assets";

const imageUrl = "https://placehold.co/600x400";
---

<a href="">
    <Image
        src={imageUrl}
        alt="Comic style placeholder"
        width="600"
        height="400"
    />
</a>
<style>
    a {
        width: 100%;
    }
    img {
        width: 100%;
        object-fit: cover;
    }
</style>
