---
import { Image } from "astro:assets";
import noirmale from "../assets/noirmale.png";
const imageUrl = "https://placehold.co/600x400";
---

<a href="">
    <Image
        src={noirmale}
        alt="Comic style placeholder"
        width="500"
        height="500"
    />
</a>
<style>
    a {
        width: 100%;
    }
    img {
        width: 100%;
        object-fit: cover;
        image-rendering: pixelated;
    }
</style>
